{% load cms_tags staticfiles sekizai_tags menu_tags cache meta i18n %}{% get_current_language as LANGUAGE_CODE %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head {% meta_namespaces %}>

        <script async src="https://www.googletagmanager.com/gtag/js?id={{GOOGLE_ANALYTICS_TRACKING_ID}}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', '{{GOOGLE_ANALYTICS_TRACKING_ID}}');
        </script>

        <meta charset="utf-8">
        
        <title>{% block title %}{% page_attribute "page_title" %}{% endblock title %}</title>
        
        <meta name="viewport" content="width=device-width,initial-scale=1">
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--         <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script> -->
        
        <meta name="author" content="paiuolo@gmail.com">
        
        <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.png" />
        
        <!-- META -->
        {% block meta %}
            {% include "meta/meta.html" %}
        {% endblock %}
        <!-- ENDMETA -->
        
        {% addtoblock "css" %}
        <style>
            html, body {
                width: 100%;
                height: 100%;
                margin: 0
            }
        </style>
        {% endaddtoblock %}
        
        {% render_block "css" %}
        
        {% block extracss %}{% endblock extracss %}

    </head>
    <body class="{% block extra_body_classes %}{% endblock extra_body_classes %}">
    
        {% cms_toolbar %}
        
        <!-- CONTENT -->
        {% block content %}
        {% endblock content %}
        <!-- ENDCONTENT -->
        
        <script type="text/javascript" src="/jsi18n/"></script>
        
        {% addtoblock "js" %}
        <script>
            var callback = function(){
              {% if request.current_page.bundleextension.ready_js %}{{ request.current_page.bundleextension.ready_js|safe }}{% endif %}
              
                {% block jsready %}{% endblock %}
            };

            if (document.readyState === "complete" ||
                (document.readyState !== "loading" && !document.documentElement.doScroll)) {
                callback();
            } else {
                document.addEventListener("DOMContentLoaded", callback);
            }
        </script>
        {% endaddtoblock %}

        <script>
          window.menuItems = window.menuItems || {};
        {% show_menu_below_id "top" 0 100 100 100 "jsmenu/jsMenuTop.html" %}
        {% show_menu_below_id "bottom" 0 100 100 100 "jsmenu/jsMenuBottom.html" %}
        </script>
        
        {% block extrajs %}{% endblock extrajs %}

        {% render_block "js" %}
        
        {% static_placeholder "extrajs" %}

    </body>
</html>
